/*setting the body color, font and font color*/

body {background-color: black; font-family: arial; color: white}
h1{color: grey; font-family: verdana}

/*created entry for class 'maindiv'*/

.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:text;
}

.highlight {
background-color: yellow;
}